div#img-note {
  position: relative;
  width: 0px;
  height: 0px;
  content: "";
}
div#img-note span {
  position: absolute;
  color: rgba(125, 125, 125, 0.5);
  bottom: 0px;
  width: max-content;
}

.bg-primary {
  background-image: linear-gradient(rgba(232, 29, 131, 0.6), rgba(255, 255, 255, 1.0)), url("https://cdn.glitch.com/17421bd4-ed96-4602-b1a9-69c1558224c2%2Fsnowy-background.png?1518535274322");
}

.bg-primary#info {
  background-image: linear-gradient(rgba(255, 255, 255, 1.0),rgba(232, 29, 131, 0.6)), url("https://cdn.glitch.com/17421bd4-ed96-4602-b1a9-69c1558224c2%2Fsnowy-background.png?1518535274322");
}

.btn-primary {
  background-color: rgba(214, 79, 112, 0.9);
  border-color: #F05F40;
}

a {
  color: rgba(0, 0, 255, 0.5);
}

header p {
  text-shadow: 3px 2px 1px black;
}

.img-organizer {
  max-height: 150px;
  max-width: 100%;
}

.img-sponsor {
    max-height: 100px;
    max-width: 200px;
}

.copyright {
	color: rgba(255,255,255,.7);
}

.btn-fb-custom {
	background-color: white;
	color: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-fb-custom:hover {
  color: grey;
}

aside {
  padding: 4rem 0;
}

@media(max-width:500px){
    h1{
        font-size: 1.8em !important;
    }
}

@media(min-width: 501px){


}
