.img-organizer {
    max-height: 150px;
}

.img-sponsor {
    max-height: 100px;
    max-width: 200px;
}

.copyright {
	color: rgba(255,255,255,.7);
}

.btn-fb-custom {
	background-color: white;
	color: black;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn-fb-custom:hover {
  color: grey;
}

aside {
  padding: 4rem 0;
}

@media(max-width:500px){
    h1{
        font-size: 1.8em !important;
    }
}

@media(min-width: 501px){


}
